# Timezone
TZ=America/Sao_Paulo

# N8N
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_ENCRYPTION_KEY=pppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppppp

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=cnsmm
N8N_BASIC_AUTH_PASSWORD=iiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiiii

# Postgres (N8N)
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=00000000000000000000

# Open WebUI (opcional)
WEBUI_SECRET_KEY=00000000000000000000000000000000000

# -----------------------------------------------------------------------------------------
# Chaves de API
# -----------------------------------------------------------------------------------------
# Open Router = k-or-v1-888888888888888888888888888888888888888888888888888
# GaldrBot    = 666666666666666666666666666
#
#
# -----------------------------------------------------------------------------------------
