# openssl rand -hex 32
# echo -n "meu_texto_aqui" | sha256sum


# Timezone
TZ=America/Sao_Paulo

# N8N
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_ENCRYPTION_KEY=0000000000000000000000000000000000000000000000----------32

N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=000000000000000----------16

# Postgres (N8N)
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=000000000000000----------16

# RAG / Qdrant
QDRANT_COLLECTION=my_colection_kb
QDRANT_DISTANCE=Cosine
EMBED_MODEL=nomic-embed-text
CHAT_MODEL=llama3.2:3b

# Flask UI (proteção)
FLASK_BASIC_USER=admin
FLASK_BASIC_PASSWORD=123
FLASK_SECRET_KEY=0000000000000000000000000000000000000000000000----------32


# Open WebUI (opcional)
WEBUI_SECRET_KEY=0000000000000000000000000000000000000000000000----------32

# -----------------------------------------------------------------------------------------
# Chaves de API
# -----------------------------------------------------------------------------------------
# Open Router = k-or-v1-rdgvergregvrevgergrvgvres
# GaldrBot    = vgrvegvrvregrevgergvevgrevg
#
#
# -----------------------------------------------------------------------------------------
